body {
    background-image: url(img/Вход_в_бункер_.jpg);
    background-repeat: no-repeat;
    height: auto;
    width: auto;
}
.wallpaper {
    margin-top: 95px;
}


.pomelo {
    animation-name: circle;
    animation-duration: 3s;
}
@keyframes circle {
0%{
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scale (1.7);
}40%{
    hieght: 20px;
    border-radius: 50%; 
    transform: scale(1);
}100%{
    top:0%;
    }
}